<nav
  class="column center noMarginPadding navbar-expand-lg navbar-light bg-body-tertiary mb-3"
>
  <div class="noMarginPadding center container-fluid displayFooter">
    <div class="divTamanho15 center column">
      <a class="navbar-brand noMarginPadding" [routerLink]="'.'"
        >Redes Sociais</a
      >

      <ul class="column navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Instagram</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Facebook</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Twitter</a
          >
        </li>
      </ul>
    </div>
    <!-- <div class="divTamanho15">
      <ul class="listStyleNone column center">
        <li>Condições de Uso</li>
        <li>Notificação de Privacidade</li>
        <li>Cookies</li>
        <li>Anúncios Baseados em Interesses</li>
      </ul>
    </div> -->
    <div class="divTamanho15">
      <ul class="listStyleNone column center">
        <label for="">Telefone</label>
        <li>+15 (15) 9 9090-9090</li>

        <br />

        <label for="">E-mail</label>
        <li>Email.com</li>
      </ul>
    </div>
  </div>
  <div class="center divTamanho45 noMarginPadding">
    <p>© 2024-2024 ConnectEvent</p>
  </div>
</nav>
